<header id="top-nav">
  <div id="brand">IMDB</div>
  <form id="search-form">
    <input id="search" type="text" name="query">
  </form>
  <i class="fa fa-search"></i>
</header>
<section id='movie-container'>
  <li class="movie">
      <img class="pic" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzIxMDkxNDM2M15BMl5BanBnXkFtZTcwMDA5ODY1OQ@@._V1_SX300.jpg" alt="">
      <div class="movie-content">
        <p>
          <span class="movie">Batman</span>
          <span class="year">2012</span>
          <span class="director">- Steve P.</span>
        </p>
        <p>"Batman has not been seen for ten years. A new breed of criminal ravages Gotham City, forcing 55-year-old Bruce Wayne back into the cape and cowl. But, does he still have what it takes to fight crime in a new era?"</p>
      </div>
</section>
